#TODO va sin comillas.

PGUSER=dev_user
PGPASSWORD=temp12345
PGDATABASE=stockflow
PGHOST=localhost
PGPORT=5432
LOG_LEVEL=DEBUG

PGSUPERUSER=postgres
PGSUPERPASSWORD=[CLAVE_QUE_USARON_AL_INSTALAR_POSTGRES]
PGSUPERDB=postgres

LOAD_SEED=on
LOAD_DEMO_SEEDS=on