# Para usarlo debes crear un archivo llamado ".env" en la raíz del proyecto.
# Copia este contenido y reemplaza los valores según tu configuración local.

# --- Configuración del servidor PostgreSQL en Docker ---

# Nombre del usuario de la base de datos
PGUSER=TuUsuario

# Contraseña del usuario de la base de datos
# Déjalo en blanco en este ejemplo o cámbialo por algo genérico.
PGPASSWORD=tu_contraseña_aqui

# Nombre de la base de datos principal
PGDATABASE=stockflow

# Puerto en el que se expone PostgreSQL (5432 es el estándar)
PGPORT=5432

# --- Configuración de pgAdmin (interfaz web opcional) ---

# Correo para iniciar sesión en pgAdmin
PGADMIN_EMAIL=TuNombre@stockflow.com

# Contraseña para entrar a pgAdmin
PGADMIN_PASSWORD=LaContraseñaDeTuPostgreSQL
