# .env.example
# Este archivo muestra las variables necesarias para conectar la aplicación
# a la base de datos PostgreSQL instalada localmente como servicio de Windows.

# Nota: Crear un archivo .env a partir de este y reemplazar los valores entre corchetes.

# VARIABLES DE CONEXIÓN A POSTGRESQL (Host Local)
PGUSER=[SuNombreDeUsuario]
PGPASSWORD=[SuContraseñaSegura]
PGDATABASE=stockflow
PGPORT=5432
PGHOST=localhost